/* Zerando definições padrões de browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Configurando cor de plano de fundo do site */
body {
    background-color: #AECBEA;
    overflow-x: hidden;
}
/* Configuração do fundo da capa e do tamanho */
.capa {
    background-color: #0A2A43;
    width: 100%;
    height: 200px;   
}
/* Classe para o texto da capa */
.capa h1 {
    box-shadow: 0 4px 8px #00000033; /* Shadow box para criar um leve efeito de destaque */
    color: saddlebrown;
    font-size: 4em;
    text-align: center;
}
/* Configurar texto secundario da capa */
.capa h2 {
    text-align: center;
    font-size: 1em;
    color: saddlebrown;
    margin-top: 2em;
}
/* Configurações sobre navegação */
.navbar {
    font-size: 1.5em;
}
nav a:hover {
    background-color: #007bff;
}
nav a {
    color:white !important;
}
.navegacao {
    background-color: #1E4D6F;
    padding: 0;
}
/* Configurações do texto principal dos conteudos do site */
.conteudo h1{
    margin: 40px 10px;
    font-size: 2.6em;
    text-align: center;
}
/* Configuração dos paragrafos dos conteudos */
.conteudo p {
    font-size: 1.2em;
    text-align: justify;
    padding: 1em 1.5em;
    text-indent: 30px;
}
/* Leve configuração para ajustar margens do formulario */
#formularioPedido {
    margin: 10px;
}
/* Aumentar padding do conjunto de itens do formulario */
.itemFormulario {
    padding: 0.5em;
}
.nav-link.active {
    background-color: #007bff;
    color: white;
}
.nav-link {
    padding: 0.3em 0.7em !important;
}
footer {
    background-color: #0A2A43;
    color: white;
}
.icon i {
    padding: 1em 1em !important;
}
#botao_sair:hover {
    background-color: transparent !important; /* Remove o fundo */
}

#botao_sair {
    text-decoration: none; /* Remove sublinhado */
    color: white; /* Define a cor inicial */
}

#botao_sair:hover {
    color: white; /* Mantém a cor no hover */
    text-decoration: none; /* Garante que não adicione sublinhado */
}